.site__title {
  background-color: #fefefe;
  line-height: 58px;
  z-index: 5;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  img {
    margin-left: -35px;
    width: 120px;
    margin-top: 17px;
  }
  i {
    color: black;
  }
  ul {
    display: inline-block;
  }
  .right {
    margin: 0px;
    float: right !important;
    margin-top: 10px;
    display: block;
    width: 60%;
    margin-right: 30px;

    li.item {
      width: 30px;
    }
  }
  .left {
    width: 25%;
  }
  .right .item {
    float: right !important;
  }
  .item {
    display: inline-block;
    margin-left: 22.5px;
  }
}

@media screen and (min-width: 0em) and (max-width: 440px) {
  .site__title {
    .left {
      width: 20% !important;
    }
    img {
      margin-top: 0px !important;
      margin-left: -20px;
    }
    .right {
      width: 60% !important;
      margin-right: 0px !important;
      margin-top: 15px !important;

      .item {
        width: 35px !important;
      }
    }
    .item {
      font-size: 10px !important;
      padding-left: 10px !important;
      margin-left: 15px !important;
    }
  }
}

.instruction__stepper {
    font-size: $small-font-size;
    margin-bottom: $global-margin*1.75;
}

.instruction__title,
.instruction__text {
    margin-bottom: $global-margin*1.25;
    hyphens: auto;
}

input[type="submit"].button {
    letter-spacing: rem-calc(2px);
}

// Neat tooltip for fields when the placeholder is not visible anymore because user has input some text. Supported in latest Chrome and mobile Safari.
.label__inner {
    display: none;
}
input:focus:not(:placeholder-shown) + label {
    position: relative;
    .label__inner {
        display: inline-block;
        position: absolute;
        top: rem-calc(-100px);
        color: $body-font-color;
        background-color: $black;
        padding: $global-padding/2 $global-padding;
        &::after {
            @include css-triangle(15px, $black, down);
            position: absolute;
            bottom: rem-calc(-12px);
        }
    }
}

.icon.has-tip {
  cursor: initial;
}