@media screen and (orientation: landscape) {
  body {
    max-width: unset;
  }

  [class$="module"] {
    max-height: 24vh;
    margin: 0.5vh 0;
  }

  .module__halfwidth {
    width: 25%;
  }

  .module__fullwidth {
    width: 50%;
  }

  .placeholdermodule {
    height: initial;
  }
}
